.data-card-list {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: auto;
}

.data-card-list li {
  list-style-type: none;
}

.data-card {
  background-color: #fff;
  border-bottom: 1px solid #aeaeae;
  border-right: 1px solid #ccc;
  padding: 12px;
  margin: 0px 0px 20px 0px;
}

.data-card-title {
  font-weight: 600;
  margin: 0px 0px 10px 0px;
}

.data-card-properties {
  margin: 0px;
  padding: 0px;
  border: 1px solid #efefea;
  border-bottom: 0px;
}

.data-card-property {
  font-size: 13px;
  border-bottom: 1px solid #efefea;
}

.data-card-property-key {
  font-weight: 600;
  color: #666;
  display: inline-block;
  background-color: #fcfcfa;
  padding: 3px 5px 3px 3px;
  width: 33%;
  height: 30px;
  text-align: right;
  vertical-align: top;
  line-height: 27px;
  overflow: hidden;
}

.data-card-property-value {
  font-weight: 400;
  color: #444;
  display: inline-block;
  padding: 3px 3px 3px 5px;
  overflow: hidden;
  width: 66%;
  height: 30px;
  vertical-align: top;
  line-height: 27px;
}